.container {
  width: 70%;
  margin: 0 auto;
}
.input_button_cont {
  display: flex;
  justify-content: center;

}
.input {
  width: 70%;
  border-radius: 4px;
  border:1px solid gray;
  height: 40px;
}
.button {
  background-color: rgb(0, 110, 255);
  border: none;
  border-radius: 4px;
  color: white;
  width: 20%;
  height: 44px;
}
.buttonOff {
  background-color: rgb(130, 173, 228);
  border: none;
  border-radius: 4px;
  color: white;
  width: 20%;
  height: 44px;
}
form {
  width: 100%;
}